.Slider {
  position: relative;
  cursor: pointer;
  height: 12px;
  padding: 12px 0;

  &__progressDot {
    cursor: pointer;
    position: absolute;
    top: 6px;
    width: 16px;
    height: 12px;
    background-color: var(--functional-white);
    z-index: 2;
  }

  &__line {
    z-index: 0;
    height: 2px;
    position: absolute;
    width: 100%;
    background-color: var(--functional-gray);
    top: calc(50% - 1px);

    &_progress {
      width: 0;
      z-index: 1;
      background-color: var(--functional-white);
    }
  }
}