@import "fonts.css";

* {
    box-sizing: border-box;
}

svg {
    outline: none;
}

body, html {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'SpaceGrotesk', sans-serif;
}

button {
    border: initial;
}