.AudioComponent {
  transform: translateY(60px);

  @include mobile {
    transform: initial;
  }

  &__back {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__backImage {
    width: 17px;
    height: 17px;
    transform: rotate(180deg);
  }

  &__backText {
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-24);
    line-height: var(--line-height-32);
    letter-spacing: -0.4px;
    color: var(--primary-bg);
  }
}