:root {
    --primary-bg: #1B191C;
    --secondary-bg: #EEEEEE;
    --functional-white: #FFFFFF;
    --functional-yellow: #F8D231;
    --functional-yellow2: #C6A827;
    --functional-gray: #ADACAD;
    --functional-gray2: #C4C4C4;
    --border-dark: rgba(207, 211, 214, 0.1);
    --functional-dash: #919E9F;

}
